@charset "UTF-8";

html {
  font-size: 100%;
}
body{
  margin: 0;
}

img {
  max-width: 100%;
}



/*-------------------------------------------
ヘッダー
-------------------------------------------*/
h1{
  font-size: 28px;
  text-align: center;
  padding: 50px;
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/
#mainvisual {
  margin-bottom: 80px;
}
#mainvisual img {
  width: 100%;
  max-width: 1920px;
  object-fit: cover;
}

